<a href="https://colab.research.google.com/github/proditor002/DWDM21_/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน package จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆ มากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [10]:
import pandas  # เป็นวิธีเรียกใช้ package คือ import ตามด้วยชื่อ package โดย pandas เกี่ยวกับการเรียกใช้ข้อมูล

In [11]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd เพื่อการเรียกใช้ที่สั้นลง

ไลฟ์ italicized text .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

.csv เป็นไฟล์ที่จัดเก็บข้อมูลได้อ่านง่าย ทั้งคนและคอมพิวเตอร์

In [12]:
data_df = pd.read_csv('data.csv')

In [13]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Pual   15     Bankok
2  Sarah   49     London

###Basic Python

Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ภาษาอังกฤษ 
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [14]:
variable_a = 12
variable_b = 'abcd' # เรียกว่า quote
variable_c = variable_a

In [15]:
variable_a

12

In [16]:
variable_b

'abcd'

In [17]:
variable_c

12

In [19]:
#ตัวอย่างห้ามเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# ในcolab ใช้ภาษาไทยได้แต่ในโปรแกรมอื่นทำไม่ได้ 
ตัวแปร = 3
ตัวแปร

In [ ]:
#ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

In [ ]:
variable_a = 12
variable_b = 'abcd' # เรียกว่า quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = 'KKU' # เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

In [ ]:
# ตัวอย่างว่าเราไม่สามารถเอาตัวเลขกับตัวหนังสือมา + กันได้ งื้ออออ
varable_a + varable_b

In [ ]:
# ตัวอย่างตัวหนังสือ + ตัวหนังสือ (ทำได้) ผลลัพธ์ตัวหนังสือจะออกมาต่อกันแบบนี้่
print(variable_b + variable_4)

##Casting int() float() string()

In [ ]:
# ตัวอย่างการเปลี่ยน float ให้เป็น int
print(variable_x)
print(int(variable_x))

In [ ]:
V_X = str(variable_x)
print(V_X)

In [ ]:
# ตัวอย่าง int ไม่สามารถบวก Str ได้
V_X + variable_a

In [ ]:
# ตัวอย่าง str ไม่สามารถบวก int ได้
variable_a + V_X

In [ ]:
V_X #ตัวแปรเป็น srting เพราะมี quoat

In [ ]:
float(V_X) # เปลี่ยนเป็น srting เป็น float

## Data structrue
list()

In [20]:
list_a = [1,2,0.2,'abs'] # [] คือ square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [21]:
list_a

[1, 2, 0.2, 'abs']

In [22]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [23]:
len(list_a) #len คือคำสั่งที่เอาไว้ใช้อยู่ขนาดของ list

4

In [25]:
list_b[3] # คำสั่งดูลำดับใน list

[1, 2, 0.0]

In [24]:
list_b[3][1] #ดูลำดับใน list ซ้อน list อีกที

2

##String คือ list ของตัวหนังสือ

In [26]:
a = 'Stat KKU'

In [27]:
a[4]

' '

##วิธีสร้าง list ว่าง

In [28]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [29]:
list_c

[]

In [30]:
list_d

[]

##เติมค่าลงไปใน list(.append())

In [31]:
list_d.append('a')

In [32]:
list_d

['a']

In [33]:
list_d.append(56)

In [34]:
list_d

['a', 56]

##การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index หรือติดลบ

In [35]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [36]:
list_b[-1] #ชี้ลำดับจากข้างหลัง - 1

[1, 2, 0.0]

##list slicing

In [37]:
list_ex = [1,2,3,5,6,8,-1,20,50]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง] 



ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [38]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [39]:
list_ex[4:] #เริ่มจากตัวที่ 4

[6, 8, -1, 20, 50]

In [40]:
list_ex[:6] #นับจาก 6 ข้างหลังสุด

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดขอบเขต:step]

In [41]:
list_ex[::2] #เราเอาตั้งแต่ตัวแรกไปจนถึงตัวสุดท้าย step2 คือ นับแบบกระโดดข้าม 2ตัว

[1, 3, 6, -1, 50]

In [42]:
list_ex[::-1] #การกลับ list

[50, 20, -1, 8, 6, 5, 3, 2, 1]

In [43]:
a

'Stat KKU'

In [44]:
a[5:]

'KKU'

In [45]:
a[-3:]

'KKU'

In [46]:
a[5:8]

'KKU'

In [47]:
a[5::]

'KKU'

In [48]:
a[-3::1]

'KKU'

###list+list

In [49]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [50]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

f'string{ตัวแปร}'

##Loob

indent

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป
    do something #in loop
    do another thing #inloop

do another thing #out side loop

In [51]:
for i in [1,2,3,4,5]:
      print(i+1)

2
3
4
5
6

In [52]:
for x in [1,2,3,4,5]:
      print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [53]:
list5=[1,2,3,4,5]
for x in list5:
      print (f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for i in range(2,7):
      print(i)

2
3
4
5
6

In [55]:
for i in range(5):
      print('hahahaha')
      x = i + 3 
      print(f'i={i} x={x}')

hahahaha
i=0 x=3
hahahaha
i=1 x=4
hahahaha
i=2 x=5
hahahaha
i=3 x=6
hahahaha
i=4 x=7

##Nested loop

In [56]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
      print(f'i={i} j = {j}  i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i=0 j = 0  i+j = 0
i=0 j = 1  i+j = 1
i=0 j = 2  i+j = 2
i=0 j = 3  i+j = 3
end j loop
now i = 1
start j loop
i=1 j = 0  i+j = 1
i=1 j = 1  i+j = 2
i=1 j = 2  i+j = 3
i=1 j = 3  i+j = 4
end j loop
now i = 2
start j loop
i=2 j = 0  i+j = 2
i=2 j = 1  i+j = 3
i=2 j = 2  i+j = 4
i=2 j = 3  i+j = 5
end j loop

##Condition (if statement)

``` python

  if เงื่อนไขที่จะตรวจสอบ: (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):

    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2

  elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:

    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2

  elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:

    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2

  else : #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง

    ทำงาน x

In [64]:
stringx = 'sdjgndjgndlkjsngdnhgdgfdghfkgjklfdjhklfjklhjfklhjkfldhjkdfhjkdfjhklfjdhklfjhlk'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sdjgndjgndlkjsngdnhgdgfdghfkgjklfdjhklfjklhjfklhjkfldhjkdfhjkdfjhklfjdhklfjhlk is longer than 30 characters

In [66]:
stringx = 'sdjgndjgndlkjsngdnhgdgfdgh'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long')

sdjgndjgndlkjsngdnhgdgfdgh in 26 characters long

In [67]:
password = '12345'

input_pass = '123'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long')
else:
    print('Too short, try again')

Too short, try again

Quiz 1 หา max

In [71]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commitก่อน 10.30น. : Quiz 1)

for x in list_ex:
   if x == -19:
    print (f'ค่าตัวแปร x คือ {x} คือค่าตัวแปรที่น้อยที่สุด')
  else :
    print (f'ค่าตัวแปร x คือ {x} ไม่ใช่ค่าตัวแปรที่น้อยที่สุด')

IndentationError: ignored

Quiz 2 ตัดเกรด

In [ ]:
score